<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="kr.co.academy.board">
	
	<!-- 전체 목록 보기 -->
	<select id="list" resultType="BoardDTO">
	select *
	from board
	where bdel = 0 and bselect= #{bselect}
	order by bno desc;
	</select>


	<!-- 선택조회 (글읽기) -->
	<select id="readOne" parameterType="java.lang.Integer" resultType="BoardDTO">
	select *
	from board
	where bno = #{bno}
	</select>
	
	<!-- 글 쓰기 -->
	<insert id="register" parameterType="BoardDTO">
	insert into board(bno, btitle, bcontent, id, regdate, breadcnt, bdel, bfilename, bselect)
	values(#{bno},#{btitle},#{bcontent},#{id},curdate(),0,0,0,#{bselect})
	</insert>
	
	<!-- 글 수정  -->
	<update id="update" parameterType="BoardDTO">
	update board
	set 
	btitle = #{btitle} , bcontent=#{bcontent}, bfilename=#{bfilename} ,regdate = curdate()
	where bno = #{bno}
	</update>
	
	<!-- 글삭제 -->
	<delete id="delete" parameterType="BoardDTO">
	update board
	set
	bdel = 1
	where bno = #{bno}
	</delete>
	
	<!-- 조회수 증가 -->
	<update id="updateReadCnt">
	update board
	set
	breadcnt = breadcnt + 1
	where bno = #{bno}
	</update>
	
	<!-- 게시글 카운트 -->
	<select id="countBno" resultType="java.lang.Integer">
		select count(*)
		from board
	</select>
	
	<!-- 파일 업로드 -->
	<insert id="fileregister" parameterType="BFDTO">
		insert into boardfile(bfselect, bfilefrom, bfilerealpath, bfileviewpath)
		values(#{bfselect}, #{bfilefrom}, #{bfilerealpath}, #{bfileviewpath})
	</insert>
	
	<!-- 게시글번호에 해당하는 댓글 조회  -->
	<select id="replyDetail" parameterType="java.lang.Integer" resultType="BoardReplyDTO">
	select *
	from board_reply
	where bno= #{bno}
	order by reno desc
	</select>
	
	<!-- 댓글 쓰기 -->
	<insert id="reply" parameterType="BoardReplyDTO">
	insert into
	board_reply(rewriter,rememo,redate,bno)
	values(#{rewriter},#{rememo},curdate(),#{bno})
	</insert>
	
	<!-- 해당댓글 조회 -->
	<select id="viewreply" parameterType="BoardReplyDTO" resultType="BoardReplyDTO">
	select *
	from board_reply
	where reno =#{reno}
	</select>
	
	<!-- 댓글 수정 -->
	<update id="replyupdate" parameterType="BoardReplyDTO">
	update board_reply
	set rewriter = #{rewriter} , rememo=#{rememo} , redate = curdate()
	where reno = #{reno}
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="replydelete" parameterType="java.lang.Integer">
	delete from board_reply
	where reno=#{reno}
	</delete>
	
	
  </mapper>