<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="kr.co.academy.cmanage">
	
	<!-- 회사정보 리스트 -->
	<select id="list" resultType="CmanageDTO">
	select cNo, cName
	from cmanage
	where cNo = 1
	</select>

	<!-- 회사정보 읽기 -->
	<select id="cboarddetail" parameterType="java.lang.Integer" resultType="CmanageDTO">
	select *
	from cmanage
	where cNo = #{cNo}
	</select>
	
	<!-- 회사정보 수정  -->
	<update id="cboardupdate" parameterType="CmanageDTO">
	update cmanage
	set 
	cName = #{cName} , cAddress=#{cAddress}, cCeo=#{cCeo}, cNumber = #{cNumber}, cTel = #{cTel}, cEmail = #{cEmail}, cLogo = #{cLogo}
	where cNo = 1
	</update>
	
  </mapper>