<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	<typeAliases>
 		<typeAlias alias="MemberDTO" type="kr.co.academy.member.MemberDTO"/>
 		<typeAlias alias="BoardDTO" type="kr.co.academy.board.BoardDTO"/>
 		<typeAlias alias="CmanageDTO" type="kr.co.academy.cmanage.CmanageDTO"/>
 		<typeAlias alias="ManageDTO" type="kr.co.academy.manage.ManageDTO"/>
 		<typeAlias alias="Pagination" type="kr.co.academy.manage.Pagination"/>
 		<typeAlias alias="Search" type="kr.co.academy.manage.Search"/>
 		<typeAlias alias="BFDTO" type="kr.co.academy.board.BoardFileDTO"/>
 		<typeAlias alias="BoardReplyDTO" type="kr.co.academy.board.BoardReplyDTO"/>
 		<typeAlias alias="Boardpaging" type="kr.co.academy.board.Boardpaging"/>
 	</typeAliases>
 </configuration>